{% extends 'nav.html' %} 
{% load crispy_forms_tags %}

{% block profile_block %}

    <style>
        .profile{
            margin-left:150px;
            margin-right:150px;
            padding:10px;
            border-left: 10px solid blue;
        }

    </style>

<section class="faqs-area padding-100-50" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Change Your Profile</h2>
                    </div>
                </div>
            </div>
            <div>
            <h4>    
            <div class="profile">
                <div class="blog-details padding30">
                    <div class="area-title text-center wow fadeIn">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-danger btn-lg" value="Change Profile">
                        </form>
                    </div>
                <div>
            </div>
            </h4>
        </div>
    </div>
</section>           
{% endblock %}

