{% extends 'product_detail_nav.html' %}
{% block cart_block %}

    <style>
        .mydiv{
            margin:50px;
            border: 2px solid;
        }
    </style>


<center><h2>Your Purchased Courses</h2> </center>
<div class="mydiv">

    <div class="container">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Course Name</th>
      <th scope="col">Go to Course</th>
    </tr>
  </thead>
  <tbody>
  {% for item in user_videos %}
    <tr>
      <td><strong>{{item.name}}</strong></td>
      <td><a href="{% url 'App_Video:stream' slug=item.slug %}" class="btn btn-info">Go To Course</a></td>
    </tr>
 {% endfor %}    
  </tbody>
</table>
        
    
    </div>
</div>

{% endblock %}