{% extends 'product_detail_nav.html' %}
{% block cart_block %}
    <style>
        .mydiv{
            margin:50px;
            padding:10px;
        }

    </style>

<div class="mydiv">
    <div class="container my-5">
        <div class="my-5">
            <h2>Your Cart </div>
        </div>
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" width="15%" >#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col" align="right" >Price</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for cart in carts %}
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ cart.item.name }}</td>
            <td>{{ cart.quantity }}</td>
            <td> {{ cart.get_total}} </td>
            <td> <a href="{% url 'App_Order:remove' pk=cart.item.pk %}" class="btn btn-danger btn-sm">Remove</a> </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row"></th>
                <td><strong>Total</strong></td>
                <td><strong>&#2547; {{order.get_totals}}</strong></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>
                <a href="{% url 'App_Shop:home' %}" class="btn btn-warning btn-sm">Continue Shopping</a>
                <a href="{% url 'App_Payment:checkout' %}" class="btn btn-info btn-sm">Checkout</a>
                </td>
            </tr>
        </tbody>
        </table>
    
    </div>
</div>

{% endblock %}